.nav-link {
    color: black;
    
}
.nav-link:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.nav-link .nav-item{
    font-size: 16px;
}

/*Positioning*/
.centre {
position: relative;
bottom:0px;
text-align: center;

}
.padding {
padding-top: 10px;
padding-bottom: 10px;
}
.margin {
margin-left: 20%;
margin-right:20%;
}

font-family: 'PT Sans', sans-serif;