<!DOCTYPE html>
<html>
    <head>
    <!-- My CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css"
		type="text/css" />
	<link rel="stylesheet" href="assets/css/style.css">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Smells Good</title>
    </head>
    <body>
        <h1>This is the H1 from the base.html</h1>
        {% block content %}
        {% endblock %}
    </body>
</html>