<html>

<head>
   <!-- My CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css"
		type="text/css" />
	<link rel="stylesheet" href="../static/assets/css/style.css">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Smells Good</title>
</head>
<body>


		<div class="container centre padding">
    <!-- Navigation -->
<img src="../static/branding/logo.png" alt="Smells Good Logo" style="width:311px;height:59px;">
<ul class="nav nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Add Recipe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Categories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
</ul>


    <!-- Main Content -->
    <div class="container">
        {% block content %} 
        {% endblock %}
    </div>

<!--Social Media-->
					<div id="social" class="col-12 centre padding">

						<ul class="list-inline">
							<li class="list-inline-item">
								<a target="_blank" href="https://facebook.com/">
									<i class="fa fa-facebook" aria-hidden="true"></i>
									<span class="sr-only">Facebook</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a target="_blank" href="https://www.twitter.com/">
									<i class="fa fa-twitter" aria-hidden="true"></i>
									<span class="sr-only">Twitter</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a target="_blank" href="https://www.instagram.com/">
									<i class="fa fa-instagram" aria-hidden="true"></i>
									<span class="sr-only">Instagram</span>
								</a>
							</li>

						</ul>

					</div>


    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>