<html>

<head>
   <!-- My CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css"
		type="text/css" />
	<link rel="stylesheet" href="../static/assets/css/style.css">


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Smells Good</title>
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="7kemrJ0u"></script>
<div class=".bg-light">
 <div class="centre padding margin">   
<img src="../static/branding/logo.png" width="260" height="60"  alt="SmellsGood Logo" loading="lazy">
 </div>
    <!-- Navigation -->
<div class="justify-content-center">
<ul class="nav nav-pills fixed">
  <li class="nav-item">
    <a class="nav-link active" href="my_recipes">My Recipes</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Great Food</a>
    <div class="dropdown-menu">
      
            <a class="dropdown-item" href="/create_recipe"><b>Add Recipe</b></a>
            <a class="dropdown-item" href="/breakfast">Breakfast</a>
            <a class="dropdown-item" href="/lunch">Lunch</a>
            <a class="dropdown-item" href="/dinner">Dinner</a> 
            <a class="dropdown-item" href="/dessert">Dessert</a> 
            <a class="dropdown-item" href="/create_account"><b>Create New Account</b></a>
            <a class="dropdown-item" href="/account_details"><b>Account Details</b></a>
      <div class="dropdown-divider"></div>
    </div>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/login_user" tabindex="-1" aria-disabled="true">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="logout" tabindex="-1" aria-disabled="true">Logout</a>
  </li>
</ul>
</div>
    <!-- Main Content -->
    <div class="container">
        {% block content %} 
        {% endblock %}
    </div>
</div>
<footer>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/js/main.js"></script>
     <!--General Scripts below-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous">
    </script>
</body>

</html>