{% extends 'base.html' %} 

{% block content %}
<form action="{{url_for('signup')}}" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input value="{{users.username}}" name="username" min ="2"  type="text" class="form-control" id="username" placeholder="Your Username" required>
  </div>
  <br>
    <div class="form-group">
  <label for="password">Password:</label>
  <input value="{{users.password}}" type="password" id="password" name="password" class="form-control" placeholder="Password"
  pattern=".{8,}" title="Eight or more characters" required>
    </div>
    <div class="form-group">
    <label for="favourite_food">Favourite food</label>
     <input value="{{users.favourite_food}}" name="favourite_food" type="text" class="form-control" id="favourite_food" placeholder="Ramsay Ribs" required>
  </div>
   <br>
  <div class="form-group">
    <label for="favourite_cooking_utensil">Favourite Cooking Utensil</label>
    <textarea value="{{users.favourite_cooking_utensil}}" min ="4" name="favourite_cooking_utensil" type="text" class="form-control" id="favourite_cooking_utensil" placeholder="My old wok from Thailand"></textarea>
  </div>
   <br>
    <div class="form-group">
    <label for="favourite_chef">Favourite Chef</label>
    <input value="{{users.favourite_chef}}" name="favourite_chef" min ="4"  type="text" class="form-control" id="favourite_chef" placeholder="Gordon Ramsay">
  </div>    
  <button type="button submit" class="btn btn-primary btn-sm">Create Account</button>
</form>
{% endblock %}