{% extends 'base.html' %} {% block content %}
{% for recipe in recipes %}
<div class="card padding">
    <div class="card-body padding">
        <h1>{{ recipe.recipe_name }}</h1>
        <img src="{{ recipe.picture_url }}" class="img-fluid" alt="Responsive image">
        <p><b>The cook:</b> {{ recipe.username }}</p>
        <p><b>Category:</b> {{ recipe.category_select }}</p>
        <p><b>Description:</b> {{ recipe.recipe_description }}</p>
        <p><b>Ingredients</b></p>
        <p>{{ recipe.ingredients_list }}</p>
        <p><b>Cooking Instructions</b></p>
        <p>{{ recipe.cooking_instructions }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}