{% extends 'base.html' %} {% block content %}
{% for recipe in recipes %}
<div class="col-md-12">
    <h1>{{ recipe.recipe_name }}</h1>
    <img src="{{ recipe.picture_url }}">
    <p>{{ recipe.username }}</p>
    <p>{{ recipe.category_select }}</p>
    <p>{{ recipe.recipe_description }}</p>
    <p>{{ recipe.ingredients_list }}</p>
    <p>{{ recipe.cooking_instructions }}</p>
    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn_small">Edit</a>
</div>
{% endfor %}
{% endblock %}