<html>
    <head>
    </head>


    <body>
    <!--
    {% for x in hello %}
        
        {{hello.created_at}}
        {{hello.recipe_id}}
        {{hello.recipe_name}}
        {{hello.recipe_description}}
        {{hello.ingredients_list}}
        {{hello.pic_url}}
        {{hello.category_id}}
        {{hello.user_created}}
        {{hello.recipe_deleted}}
        
    {% endfor %}
    -->
    <p> data should be here</p>
    {% for category in categories %}
    <p>{{category.category_name}}</p>
    {% endfor %}
    </body>

</html>