{% extends 'base.html' %} 
{% block content %}
<h4>{{session.username}}'s Dishes</h4>
    {% for recipe in recipe %}
        <h1>{{ recipe.recipe_name }}</h1>
        <img src="{{ recipe.picture_url }}" class="img-fluid" alt="Responsive image">
        <p><b>The cook:</b> {{ recipe.username }}</p>
        <p><b>Category:</b> {{ recipe.category_select }}</p>
        <p><b>Description:</b> {{ recipe.recipe_description }}</p>
        <p><b>Ingredients</b></p>
        <p>{{ recipe.ingredients_list }}</p>
        <p><b>Cooking Instructions</b></p>
        <p>{{ recipe.cooking_instructions }}</p>
        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" type="button" class="btn btn-light">Edit</a>
        <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" type="button" class="btn btn-light">Delete</a>
    {% endfor %}
{% endblock %}
