{% extends 'base.html' %} 

{% block content %}
    {% for recipe in recipe %}
        <h2 class="col-md-7">Recipe Name:{{ recipe.recipe_name }}</h2>
        <p>Category: {{ recipe.category_select }} </p>
        <p>Description: {{ recipe.recipe_description }} </p>
        <p>Ingredients List: {{ recipe.ingredients_list }} </p>
        <p>Cooking Instructions: {{ recipe.cooking_instructions }} </p>
        <img src="{{ recipe.picture_url }}">
        <p>Recipe by: {{ recipe.username}} </p>
    {% endfor %}
{% endblock %}

